@import '../../Variables.scss';
.progress-bar {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	.square {
		background-color: $borderColor;
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 8px;
		height: 40px;
		width: 40px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		font-weight: $bold;
		font-size: $label-font-size;
		color: #fff;

		&:hover {
			background: darken($gray, 5);
			cursor: pointer;
		}

		&.done {
			background-color: $blue;

			&:hover {
				background: darken($blue, 5);
			}
		}

		&.locked {
			background-color: inherit;

			&:hover {
				background: $gray;
			}
		}
	}
}
