@import '../../Variables.scss';
.result-table {
	margin-right: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		text-align: center;
	}

	.table {
		background: #fff;
		font-size: 14px;
		padding: 10px;
		border-radius: 15px;
		border: 1px solid $gray;
		display: flex;
		flex-direction: column;
		height: 36vh;
		overflow-y: scroll;
		width: 60vh;

		.row {
			display: flex;
			flex-direction: row;
			align-items: center;

			&:not(:last-child) {
				border-bottom: solid thin $gray;
			}

			.cell {
				padding: 20px;
				width: 100px;
			}
		}

		.row.first {
			font-weight: 700;
			border-bottom-color: #000;
		}
	}
}
