@import '../../../Variables.scss';

.Checkboxes {
	margin: 0;
	padding: 0;

	li {
		display: grid;
		grid-template-columns: repeat(auto-fit, calc(100% / 6));
		list-style-type: none;
		position: relative;
		width: 100%;

		span {
			align-items: center;
			display: flex;

			&:first-of-type {
				color: $fontColor;
				font-size: 14px;
				grid-column: span 3;
			}
			&:last-of-type {
				grid-column: span 2;
				color: $fontLight;
				font-size: 12px;
				position: absolute;
				right: 0;
				top: 0.75vh;
			}

			i {
				padding-right: 0.25vw;
			}
		}
	}
}
