@import '../../../Variables.scss';

.Textarea {
	width: 100%;

	textarea {
		border: 1px solid $borderColor;
		border-radius: 8px;
		min-height: 15vh;
		margin: 0.5vh auto;
		padding: 0.5vh 2.5%;
		resize: none;
		width: calc(100% - (2px + 5%));
	}
}
