@import '../../Variables.scss';

.AddLearnGoal {
	color: $fontColor;
	margin: 5%;
	height: 90%;
	width: 90%;

	form {
		height: 80%;
		margin: 5% 0;
		input {
			border: 1px solid $borderColor;
			border-radius: 8px;
			margin: 1vh 0;
			padding: 1vh 0.5vw;
			width: calc(100% - (1vw + 2px));
		}
		textarea {
			border: 1px solid $borderColor;
			border-radius: 8px;
			height: 25%;
			margin: 0.5vh 0;
			padding: 1vh 0.5vw;
			resize: none;
			width: calc(100% - (1vw + 2px));
		}
	}
}
