@import '../../Variables.scss';

.AddLearnGoal {
	color: $fontColor;
	grid-row: span 6;
	margin: 5%;
	height: 100%;
	width: 90%;
	position: relative;
	form {
		position: absolute;
		margin: 5% 0;
		width: inherit;

		h1 {
			margin-bottom: 2%;
		}

		label {
			font-size: $label-font-size;
			font-weight: $bold;
		}

		input {
			border: unset;
			border-radius: $border-radius;
			margin: 1vh 0;
			padding: 1vh 0.5vw;
			width: calc(100% - (1vw + 2px));
			box-shadow: $shadow;
			font-size: $input-font-size;
		}
		textarea {
			border: unset;
			border-radius: $border-radius;
			height: 35%;
			margin: 0.5vh 0;
			padding: 1vh 0.5vw;
			resize: vertical;
			width: calc(100% - (1vw + 2px));
			box-shadow: $shadow;
			font-size: $input-font-size;
		}
	}
}
