@import '../../Variables.scss';
.LogbookOverview {
	color: $fontColor;
	margin: 5%;
	height: 90%;
	width: 90%;

	.container {
		height: 80%;
		margin: 5% 0;
		width: 100%;

		ul {
			border: 1px solid $borderColor;
			border-radius: 8px;
			background: #fff;
			font-size: 14px;
			margin: 1vh 0;
			padding: 0;
			overflow-y: scroll;
			width: 100%;

			&:last-of-type {
				max-height: 25%;
			}
			li {
				list-style: none;
				border-bottom: 1px solid #ccc;
				padding: 2.5%;

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}
}
