.period-filter {
	font-size: 26px;
	width: 90%;
	justify-content: flex-end;
	align-items: baseline;
	display: flex;
	flex-direction: row;
	margin: 12px auto;

	& > * {
		margin: 0 6px;
		height: 50px;
	}

	input,
	select {
		font-size: 22px;
		padding: 0 10px;
	}

	input {
		width: 50px;
		height: 48px;
	}

	.bttn {
		width: 10vw;
	}
}
