@import '../../Variables.scss';

.period-filter {
	font-size: 16px;
	width: 90%;
	justify-content: flex-end;
	align-items: baseline;
	display: flex;
	flex-direction: row;
	margin: 0 auto;

	& > * {
		margin: 0 6px;
		height: 50px;
	}

	input,
	select {
		border: 1px solid $borderColor;
		border-radius: 8px;
		font-size: 16px;
		padding: 0 10px;
	}

	input {
		width: 50px;
		height: 48px;
	}

	.bttn {
		width: 10vw;
	}
}
