.TopBar {
	display: grid;
	grid-column: span 4;
	grid-template-columns: repeat(auto-fit, calc(100% / 4));
	height: 20%;
	grid-row: span 1;
	margin: auto;
	padding: 0;
	position: relative;
	width: 100%;

	h1,
	h3 {
		margin: 0;
		padding: 0;
	}
	li {
		align-items: center;
		display: flex;
		height: 100%;
		margin: auto;
		list-style-type: none;
		width: 80%;

		&:first-of-type {
			grid-column: span 2;
		}
		&:last-of-type {
			h3 {
				position: absolute;
				right: 5%;
			}
		}
	}
}
