@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
	font-family: Nunito, sans-serif;
	margin: 0;
}

main {
	align-items: center;
	background-image: url('../img/backgrounds/wave.svg');
	background-position: 100% bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	height: 87.5vh;
	width: 100%;
}
