@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import './Variables.scss';

body {
	font-family: Nunito, sans-serif;
	margin: 0;
}

main {
	align-items: center;
	background-image: url('../img/backgrounds/wave.svg');
	background-position: 100% bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	height: 87.5vh;
	width: 100%;
}

h2 {
	font-size: 26px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	margin-block-end: 0;
}

p {
	font-size: 22px;
	color: $fontColor;
}

textarea {
	font-family: Nunito, sans-serif;
}

.button {
	bottom: 0;
	position: absolute;
	width: 12.5%;

	&.prev {
		left: 5%;
	}

	&.next {
		right: 5%;
	}
}
