// Colors
$fontColor: #3c4856;
$formColor: #fbfbfb;
$borderColor: #ccc;
$blue: #0047ff;
$green: #00df76;
$mint: #cbf0f3;
$yellow: #ffd05b;
$shadow: 0px 1px 12px 0px #00000010, 0px 4px 8px 0px #00000016,
	0px 3px 6px 0px #00000020;
