.after-pre-test-end {
	.learn-goal-container {
		.left-side {
			width: 40%;
			img {
				height: 60%;
			}
		}

		.right-side {
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
