@import '../Variables.scss';

.InfoContainer {
	border-left: 1px solid $borderColor;
	color: $fontColor;
	grid-column: span 2;
	grid-row: span 6;
	padding: 1.5%;
	text-align: center;
	width: 95%;
	height: calc(97% - 2px);
}
