@import '../Variables.scss';

.Radiobuttons,
.Checkboxes {
	color: $fontColor;
	margin: 0;
	padding: 0;
	width: 100%;

	.ReadOnly {
		grid-template-columns: repeat(auto-fit, calc(100% / 4));

		div {
			display: none;
		}
	}
	.Edit {
		grid-template-columns: repeat(auto-fit, calc(100% / 6));
	}

	li {
		display: grid;
		list-style-type: none;
		position: relative;
		width: 100%;

		span {
			align-items: center;
			display: flex;
			font-size: 14px;
			grid-column: span 3;
		}
		div {
			align-items: center;
			color: $fontLight;
			display: flex;
			font-size: 12px;
			grid-column: span 2;
			position: relative;

			span {
				color: $fontLight;
				font-size: 12px;
				position: absolute;
				right: 5%;
			}
		}

		i {
			padding-right: 0.25vw;
		}
	}
}

textarea {
	border: 1px solid $borderColor;
	border-radius: 8px;
	min-height: 7.5vh;
	margin: 0.5vh auto 0;
	padding: 0.5vh 2.5%;
	resize: none;
	width: calc(100% - (2px + 5%));
}

.InputHandlers {
	padding: 0;
	width: 100%;

	li {
		width: 100%;
		margin: 0 auto;

		button {
			align-items: center;
			background: transparent;
			border: none;
			color: $fontColor;
			cursor: pointer;
			display: flex;
			outline: none;
			padding: 0;
			transition: ease-in-out 0.5s;
			width: 100%;

			span {
				transition: ease-in-out 0.5s;

				&:hover {
					color: #ff8080 !important;
				}
			}
			i {
				font-size: 12px;
				padding-right: 0.5vw;
			}
			.fa-trash {
				color: #ff8080;
			}
		}
	}
}

.Plus {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;

	button {
		background: transparent;
		border: none;
		color: $borderColor;
		font-size: 64px;
		margin: 0 auto;
	}
}
.Explanation {
	position: relative;
	textarea {
		border: 1px solid $borderColor;
		color: $fontLight;
		grid-column: span 6;
		margin: 1vh 0;
		padding: 2.5%;
		resize: vertical;
		width: 95%;
	}
}
