@import '../Variables.scss';

.Jumbotron {
	box-shadow: $shadow;
	background: $formColor;
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fit, calc(100% / 3));
	grid-template-rows: repeat(auto-fit, calc(100% / 5));
	margin: auto;
	padding: 0 0 2.5%;
	height: 77.5%;
	width: 90%;
}
