@import '../Variables.scss';

section {
	box-shadow: $shadow;
	background: $formColor;
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fit, calc(100% / 3));
	margin: auto;
	height: 80%;
	width: 90%;
}
