@import '../Variables.scss';

.select-container {
	.select-label {
		margin: 0 1vw;
		font-size: $label-font-size;
		font-weight: $bold;
	}

	.select {
		width: 20vw;
		margin: 1vw;
		padding: 2%;
		font-size: 16px;
		border-radius: 13px;
		border: 1px solid #fff;
		box-shadow: 0px 1px 12px 0px #00000010, 0px 4px 8px 0px #00000016,
			0px 3px 6px 0px #00000020;

		&:focus {
			border-radius: 13px;
			border: 1px solid gray;
			color: unset;
			outline: unset;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		::-webkit-scrollbar-thumb {
			color: $fontColor;
		}
	}
}
