@import '../Variables.scss';

.select-container {
	width: 100%;

	.select {
		width: 100%;
		padding: 2%;
		margin: 2% 0;
		font-size: 16px;
		border-radius: 8px;
		border: 1px solid #fff;
		box-shadow: 0px 1px 12px 0px #00000010, 0px 4px 8px 0px #00000016,
			0px 3px 6px 0px #00000020;
		color: $fontColor;

		&:focus {
			border-radius: 8px;
			border: 1px solid gray;
			color: unset;
			outline: unset;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		::-webkit-scrollbar-thumb {
			color: $fontColor;
		}
	}
}
