.student-container {
	align-items: center;
	display: flex;
	height: 90%;
	margin: 0 auto;
	position: relative;
	width: 90%;
	flex-direction: column;

	.learn-goal-container {
		margin: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.next.button {
		margin-top: 10px;
	}
}
