@import '../../../Variables.scss';
.ColumnPreview {
	ul {
		padding: 0;
		min-height: 60%;
		width: 100%;

		li {
			list-style-type: none;

			span {
				color: $fontLight !important;
				grid-column: span 5;
				padding-left: 0.5vw;
			}
			div {
				display: none !important;
			}

			.Textarea {
				display: inline !important;
				margin: 0;
				padding: 0;
				width: 100% !important;

				textarea {
					color: $fontLight;
					pointer-events: none;
				}
			}
		}
		.Header {
			border-bottom: 1px solid $borderColor;
			margin: 1vh 0;
			padding: 0.25vh 0;
			position: relative;

			h4 {
				padding: 0;
				margin: 0;
			}
			button {
				border: none;
				background: transparent;
				color: $fontColor;
				font-size: 16px;
				height: 100%;
				outline: none;
				position: absolute;
				right: 0;
				top: 0;
				transition: ease-in-out 0.5s;

				&:hover {
					color: $fontLight;
					cursor: pointer;
				}
			}
		}
	}
}

.Plus {
	background: transparent;
	border: none;
	color: $fontLight;
	font-size: 48px;
	outline: none;
	margin: auto;
	transition: ease-in-out 0.5s;

	&:hover {
		color: $fontColor;
		cursor: pointer;
	}
}
