.Explanation {
	p {
		font-size: 12px !important;
		margin: 0;
		padding: 0;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, calc(100% / 2));
		margin: 1vh 0;
		padding: 0;
		width: 100%;

		li {
			display: grid;
			grid-template-columns: repeat(auto-fit, calc(100% / 4));
			list-style: none;

			span {
				align-items: center;
				display: flex;
				grid-column: span 3;
				font-size: 14px;
			}
		}
	}
}
