@import '../../Variables.scss';
.allow-student-access {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.bttn {
		font-size: 22px;
	}

	.period-filter {
		font-size: 26px;
		width: 90%;
		justify-content: flex-end;
		align-items: baseline;
		display: flex;
		flex-direction: row;
		margin: 12px auto;

		& > * {
			margin: 0 6px;
			height: 50px;
		}

		input {
			font-size: 22px;
			width: 50px;
			padding: 0 10px;
		}

		.bttn {
			width: 10vw;
		}
	}

	.content-container {
		display: flex;
		flex-direction: row;
		width: 90%;
		justify-content: space-evenly;
		align-content: center;

		.explanation-container {
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
	}

	.learn-goal-list {
		border: 1px solid $gray;
		border-radius: $border-radius;
		padding: 20px 0;
		font-size: $label-font-size;
		max-height: 550px;

		& > div {
			padding: 8px 20px;

			&:hover {
				background-color: lighten($gray, 10%);
			}
		}
	}
}
