@import '../../Variables.scss';
.allow-student-access {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	min-height: 5vh;

	.top-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 95vw;

		.lock-all-container {
			margin: 18px;
			margin-left: 74px;

			.bttn {
				width: 14vw;
				padding: 12px 0px;
			}
		}
	}

	.no-logbook-found > * {
		text-align: center;
	}

	.bttn {
		font-size: 22px;
		outline: none;
		box-shadow: none;
	}

	.Jumbotron {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.content-container {
			display: flex;
			flex-direction: row;
			width: 95%;
			justify-content: space-evenly;
			align-content: center;

			.button-container {
				margin: 3% 20px;
			}

			.explanation-container {
				width: 70%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				margin-right: 1%;
			}
		}
	}

	.learn-goal-list {
		border: 1px solid $gray;
		border-radius: $border-radius;
		padding: 20px 0;
		font-size: $label-font-size;
		max-height: 550px;

		& > div {
			padding: 8px 20px;

			&:hover {
				background-color: lighten($blue, 40%);
			}

			&.selected {
				background-color: lighten($blue, 30%);
			}
		}
	}

	.Modal .Box .Body {
		height: 70%;
	}
}
