@import '../../Variables.scss';

main {
	position: relative;
}

.allow-student-access {
	min-height: 5vh;
	position: absolute;
	padding: 0 0 7.5vh;
	top: 5vh;
	height: auto;
	width: 100%;

	.Jumbotron {
		padding: 0 0 2.5vh;
	}
	.no-logbook-found > * {
		text-align: center;
	}

	.bttn {
		font-size: 16px;
		outline: none;
		box-shadow: none;
		font-weight: 100;
	}

	.content-container {
		font-size: 14px;
		display: grid;
		grid-template-columns: repeat(auto-fit, calc(100% / 5));
		grid-column: span 4;
		grid-row: span 4;
		width: 92.5%;
		margin: 0 0 0 5%;
		padding: 0;

		.explanation-container {
			grid-column: span 2;
			width: 90%;

			h1 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
				line-height: 2;
			}
		}
		.button_containers {
			display: grid;
			grid-column: span 3;
			grid-template-columns: repeat(auto-fit, calc(100% / 3));
		}

		.button-container {
			margin: auto;
			width: 90%;
			p {
				margin: 0 auto;
				width: 80%;
				font-size: 18px;
			}
		}
	}
	.prev {
		padding: 2.5vh 0;
	}
}

.learn-goal-list {
	border: 1px solid $gray;
	border-radius: $border-radius;
	padding: 20px 0;
	font-size: $label-font-size;
	max-height: 550px;

	& > div {
		padding: 8px 20px;

		&:hover {
			background-color: lighten($blue, 40%);
		}

		&.selected {
			background-color: lighten($blue, 30%);
		}
	}
}

.Modal .Box .Body {
	height: 70%;
}
