@import '../../Variables.scss';
.allow-student-access {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	min-height: 5vh;

	.no-logbook-found > * {
		text-align: center;
	}

	.bttn {
		font-size: 22px;
	}

	.Jumbotron {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.content-container {
			display: flex;
			flex-direction: row;
			width: 90%;
			justify-content: space-evenly;
			align-content: center;

			.explanation-container {
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				margin-right: 5%;
			}
		}
	}

	.learn-goal-list {
		border: 1px solid $gray;
		border-radius: $border-radius;
		padding: 20px 0;
		font-size: $label-font-size;
		max-height: 550px;

		& > div {
			padding: 8px 20px;

			&:hover {
				background-color: lighten($blue, 40%);
			}

			&.selected {
				background-color: lighten($blue, 30%);
			}
		}
	}
}
