@import '../../Variables.scss';

.studentlogbook {
	align-items: center;
	color: $fontColor;
	display: flex;
	height: 90%;
	margin: 0 auto;
	position: relative;
	width: 90%;

	h1 {
		margin-bottom: 1rem;
		margin-left: 4rem;
	}
}
