@import '../../Variables.scss';

.studentlogbook {
	align-items: center;
	color: $fontColor;
	display: flex;
	height: 90%;
	margin: 0 auto;
	position: relative;
	width: 90%;

	.button {
		bottom: 0;
		position: absolute;
		width: 12.5%;
	}
	.prev {
		left: 5%;
	}
	.next {
		right: 5%;
	}

	.vertical-center {
		display: flex;
		flex-direction: column;
		grid-row: span 6;
		justify-content: center;
		height: inherit;
		color: $fontColor;
		height: 100%;
		margin: 0 5%;
		position: relative;
		width: 90%;
	}
}
