@import '../../../Variables.scss';

.InputType {
	ul {
		margin: 1vh auto;
		padding: 0;
		width: 90%;

		li {
			list-style: none;
		}

		.Header {
			align-items: center;
			display: flex;
			border-bottom: 1px solid $borderColor;
			height: 4vh;
			position: relative;

			h4 {
				margin: 0;
				padding: 0;
			}

			button {
				background-color: transparent;
				border: none;
				color: $blue;
				position: absolute;
				right: 0;
				transition: ease-in-out 0.5s;

				&:hover {
					cursor: pointer;
					color: $hover-blue;
				}
			}
		}
	}
}

.Cell {
	.Plus {
		button {
			i.fa.fa-plus {
				color: blue;
				cursor: pointer;
			}
		}
	}
}
