@import '../../Variables.scss';

h4 {
	color: $fontColor;
	margin: 0 5%;
	padding: 0;
}

.ErrorMessage {
	color: red;
	margin: 2.5%;
}

.LogbookFrame {
	background: #fff;
	border: 1px solid $borderColor;
	border-radius: 8px;
	font-size: 14px;
	grid-column: span 4;
	grid-row: span 4;
	width: calc(90% - 2px);
	margin: 0 auto;
	padding: 0;
	overflow-y: scroll;
	height: 45vh;
	max-height: 45vh;

	.Row {
		border-bottom: 1px solid $borderColor;
		display: grid;
		grid-template-columns: repeat(auto-fit, calc(100% / 4));
		list-style: none;
	}

	.Cell {
		width: calc(100% - 1px);
		margin: auto;
		height: 100%;
		padding: 0;
		border-right: 1px solid $borderColor;

		.Description {
			font-size: 14px !important;
			line-height: 150%;
			margin: 1vh auto;
			width: 90%;
		}
	}
	.Header {
		height: 15%;
		width: 100%;

		div {
			align-items: center;
			display: flex;

			&:last-of-type {
				border-right-color: #fff;
			}
		}
	}
	.Body {
		height: 85%;
		width: 100%;
	}
}
