@import '../../../Variables.scss';

.group_logbook_row {
	.Title {
		align-items: center;
		display: flex;
		height: 7.5vh;
		border-bottom: 1px solid $borderColor;
		padding: 0 5%;
		width: 90%;

		h4 {
			margin: 0;
			padding: 0;
		}
		span {
			color: $fontLight;
			padding-left: 0.5vw;
			font-size: 11px;
		}
	}
	.Main {
		margin: 0 auto;
		width: 90%;

		p {
			font-size: 14px !important;
		}

		button {
			font-size: 12px;
			padding: 0.5vh 0;
			margin: 0 0 1vh;
			width: 60%;
		}
	}
}
